h1 {
    background-color: rgb(163, 220, 93);
    width: 35%;
    color: rgb(84, 40, 21);
}

ul {
    background-color: rgb(230, 232, 208);
    width: 30%;
    color: rgb(84, 40, 21);
}

p {
    background-color: rgb(237, 204, 173);
    width: 35%;
    color: rgb(84, 40, 21);
}